// Button component
.button {
  button {
    color: #fff;
    border: 0;
    font-family: inherit;
    height: 50px;
    padding: 0 15px;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    border-radius: 30px;
    cursor: pointer;
    &:focus {
      outline: 0;
    }
  }
  img {
    width: 30px;
    height: 30px;
  }
}
