// Global Classes
.primary-bg {
  background-color: $primary;
}
.seconday-bg {
  background-color: $seconday;
}
.primary-color {
  color: $primary;
}
.seconday-color {
  color: $seconday;
}
.center {
  text-align: center;
}
